*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5f5dc;
    color: #333;
    text-align: left;
    max-width: 100%;
}

ol {
    list-style-position: inside;
}



header {
    background-color: #556b2f;
    color: white;
    text-align: center;
    padding: 2rem;
    background: repeating-linear-gradient(
        90deg,
        #556b2f,
        #556b2f, 18px,
        #1b220f 25px,
        #1b220f 20px
    );
    /*background: linear-gradient(#556b2f, #6a8639, #dd7513); */  
}

#tparte1{
  
    display: inline-block;
    background-color: black;
    border: 2px solid black;
}

#tparte2{
    margin-top: 5px;
    display: inline-block;
    background-color: black;
    border: 2px solid black;
}

#subtitulo{
    display: inline-block;
    background-color: black;
    margin-top: 5px;
    border: 2px solid black; 
}


.linha {
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}

h1 {
    font-size: 3.5rem;
}

.realbody {
    padding: 40px 20px; 
    font-size: 25px;
    background-color: #bbbbad60;
    margin: 0 auto;
    max-width: 800px;
}

canvas {
    background-color: #e0dccc;
    border: 1px solid #8b8378;
    margin-top: 20px;
}

label {
    color: #556b2f;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #556b2f;
    border-radius: 4px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background: repeating-linear-gradient(
        45deg,
        rgba(22, 10, 0),
        rgba(22, 10, 0) 15px,
        transparent 10px,
        transparent 20px
    );
}

footer {
    font-size: 15px;
    color: #ffff;
    padding: 20px;
    text-align: center;
    background-color: #556b2f;
}

footer a {
    color: #ffffff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    
    .realbody {
        padding: 20px 10px; 
        font-size: 21px;
    }

    footer {
        font-size: 10px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .realbody {
        font-size: 21px;
    }
}